body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
* {box-sizing: border-box;}
.header-container{
    width: 100%;
    height: 400px;
    background-image: url(images/banner.jpg);
    background-size: cover;
    
}
.header{
    width: 1200px;
    height: 100px;
    
    margin: auto;
}
.logo{
    width: 110px;
    height: 100px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    float: left;
}
.nav{
    width: 990px;
    height: 100px;
    
    float: left;
    padding-top: 30px;
    padding-left: 650px;
}
.nav a{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;    
}
.banner-text {
    width: 588px;
    height: 300px;
  
    margin: auto;
}
.banner-text img {
    width: 60%;
    height: auto;
   margin: auto;
   display: block;
}
.banner-text h3{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.food-list-container{
    width: 100%;
    height: 375px;}
.food-list{
    width: 1110px;
    height: 375px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 40px;

}
.food-list-products {
    width: 267px;
    height: 240px;
    border-radius: 12px;
    border-bottom: 1px #e3e2e2 solid;
    border-left: 1px #e3e2e2 solid;
    border-right: 1px #e3e2e2 solid;
    transition: transform .2s; /* Animation */
   
}
.food-list-products:hover{
    transform: scale(1.08);
}
.food-list-products img {
    width: 100%;
    height: 76%;
    object-fit: cover;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.food-list-products h4{
    font-size: 20px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
    
}
.collection-container{
    width: 100%;
    height: 575px;

}
.collection {
    width:1110px ;
    height: 525px;
    margin: auto;
 
   
    
    
  
}
.collection-text-container{
    width: 1110px;
    height: 85px;
 
}
.collection h5{
    font-size: 36px;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.collection p{
    font-size: 18px;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    float: left;
    font-weight: 300;
    margin-top: -15px;
    
}
.collection p span{
    font-size: 18px;
    color: #e03546;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: 160px;
}
.collection i{
    font-size: 12px;
}
.collection-pics-container{
    width: 1110px;
    height: 370px;
    display: flex;
    justify-content: space-between;
}
.collection-pics{
    width: 267px;
    height: 320px;
    border-radius: 12px;
    margin-top: 30px;

}
.collection-pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    cursor: pointer;
}
/* Popular */
.popular{
    width: 1110px;
    height: 1193px;
    margin: auto;
    margin-bottom: 175px;
   
}
.popular-h3-container{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 0;
    width: 1110px;
    height: 100px;
   
} 
.popular-h3-container h3{
    font-size: 35px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.places-box-container {
    width: 1110px;
    height:65px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    
    }
.places-box{
    width: 350px;
    height: 66px;
    border-radius: 10px;
    border: 1px solid rgb(232, 232, 232);
    padding-top:20px;
    padding-left: 15px;
    cursor: pointer;
}
.places-box h5{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin-top: 0;
    margin-bottom: 0;
}

.places-box:hover{
    box-shadow: 1px 2px 8px #dddddd;
} 

.places-box i {
    float: right;
    margin-right: 25px;
    font-size: 20px;
}
/* zomato app */
.zomato-100{
    background-color: rgb(255, 251, 247);
    width: 100%;
    height: 473px;
}
.zomato-container{
    width: 960px;
    height: 473px;
    margin: auto;
   
}
.phone{
width: 300px;
height: 600px;
float: left;
}
.phone img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.zomato-text-container{
    width: 495px;
    height: 201px;
    float:left;
}
.zomato-text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin-bottom: 0;
}
.zomato-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(54, 54, 54);
    line-height: 34px;
}
.zomato-text label{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(54, 54, 54);
}
.zomato-text h6{
    font-size: 12px;
    color: rgb(156, 156, 156);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    
}
.email{  
    margin-top: 16px;
    width: 292px;
    height: 48px;
    border-radius: 10px;
    border: #e2e2e2 1px solid;
    font-size: 17px;
    font-weight: 300;
    padding-left: 10px;
    float: left;
}
.button{
    width: 150px;
    height: 48px;
    background-color: #ef4f5f;
    border-radius: 10px;
    float: left;
    margin-top: 16px;
    margin-left: 9px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 300;
    padding-top: 12px;
    cursor: pointer;
}
.button:hover {
    background-color: #e03546;
}
.icon-container{
    width: 495px;
    height:300px ;
    margin-top: 63px;
    padding-top: 15px;
}
.icon-container h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(156, 156, 156);
    margin-bottom: 0;
    margin-top: 0;
}
.icon-container  img {
    width: 137px;
    height: 40px;
    margin-right: 15px;
}
/* Explore */
.explore{
    width: 1110px;
    height: 1706px;
    margin: auto;
    padding-top: 150px;
   
}
.explore h4{
    color: rgb(54, 54, 54);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 23px;
}
.popular-cuisine-container {
    width: 1110px;
    height: 230px;
}
.popular-cuisine-container h5{
    color: rgb(54, 54, 54);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}
.popular-cuisine-container a{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        float: left;
        margin-right: 5px;
        margin-top: 10px;
        color: rgb(130, 130, 130);
        cursor: pointer;
}
.popular-cuisine-container a:hover{
    color: #000;
}
.restaurant-li{
    width: 222px;
    height: 230px;
    float: left;
}
.restaurant-li p{
    margin: 0;
    color: rgb(130, 130, 130);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 20px;
    cursor: pointer;
}
.restaurant-li p:hover{
    color: #000;
}
.restaurant-li a{
color: #000;
text-decoration: underline;
font-weight: 400;
line-height: 32px;
cursor: pointer;
}
.footer-container{
    width: 100%;
    height: 456px;
    background: rgb(248, 248, 248);

}
.footer{
    width: 1100px;
    height: 456px;
    padding-top: 40px;
    margin: auto;
}
.footer-zomato{
    width: 1100px;
    height: 38px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer-zomato img {
    width: 132px;
    height: 28px;
}
.footer-india-box{
    width: 110px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #363636;
    float: right;
    margin-left: 10px;
    color: rgb(130, 130, 130);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    font-weight: 300;
 
      
}
.footer-india-box img{
    width: 22px;
    height: 14.67px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;

}
.footer-india-box h4{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    font-weight: 400;
    float: left;
    margin-top: 9px;
    margin-left:10px ;
}
.footer-india-box i{
    color: #000;
    font-size: 15px;  
    float: left;
    margin-top: 9px;
    margin-left:10px ;
}
.footer-box{
    width: 202px;
    height: 230px;
    float: left;
}
.footer-box h5{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 15px;  
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 5px;
}
.footer-box p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(105, 105, 105);
    font-size: 14px;  
    font-weight: 200;
}
.footer-box i{
    font-size: 24px;
    margin-left: 10pxpx;
}